html{
  min-height: 100%;
  background-image: url('../images/wallpaper-70.jpg');
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
}

h1{
  color: #000000;
}

label{
  font-family: $primaryFont;
}
  
.logo{
  h1{
    font-family: 'Niconne', cursive;
    font-size: 2.6rem;
    color: $primary;
  }

  span{
    font-family: 'Bree Serif', serif;
    padding-left: 0.075em;
    font-size: 1.75rem;
    color: $secondary;
  }
}

h6{
  width: 100%;
  color: $grey;
  text-align: center;
  font-size: 0.9rem;
  line-height: 145%;

  a, button {
    color: $primary;
  }

  button {
    background: none;
  }
}

.marginBelowH6{
  margin-bottom: 1.25em;
}

.majorSelect{
  width: 100%;

  em{
    color: #9F9F9F;
  }

  .MuiOutlinedInput-root{
    border-radius: 8px;
    height: 48px;
  }

  .MuiSelect-icon{
    color: black;
  }

  .MuiOutlinedInput-notchedOutline:focus,
  .MuiOutlinedInput-notchedOutline{
    border: 2.5px solid black;
    border-color: black;
  }

  .MuiSelect-select:focus {
    background-color: white;
  }
}

.labelHeader{
  @include fontSettings($primaryFont, 1rem, 400, center, black);
  margin: 1.2em 0;
}

.labelHeader.smaller{
    font-size: 0.9rem;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.courseButtonGroup{
  @include flexDisplay(row, space-between, center);
  margin: 0.25em 0 1.25em;
  width: 100%;
  flex-wrap: wrap;

  button{
    @include fontSettings($primaryFont, 14px, 400, center, rgba(0,0,0,0.6));
    width: 30%;
    border: 2.5px solid #DDDDDD;
    border-radius: 8px;
    height: 48px;
    line-height: 100%;
    margin-top: 0.5em;
    background-color: $lightGrey;
    transition: all 250ms;
  }

  button:hover{
    color: $primary;
    border-color: $primary;
    background-color: white;
  }

  button:first-child{
    margin-left: 0;
  }
}